html {
  font-size: 0.8rem;
  width: 30rem;
}

@media (min-width: 30rem) {
  html {
    width: auto !important;
  }
}

@media (min-width: 768px) {
  html {
    font-size: 0.9rem;
  }

  .container-md {
    max-width: 720px !important;
  }

  .table-responsive {
    overflow-x: visible !important;
  }
}
